In [1]:
import pandas as pd

In [15]:
from models.target_extraction import target_extraction_pipeline

In [10]:
testData = pd.read_csv('data/semeval2016/restaurants/test_data.csv')

In [11]:
testData.head()

,text,text_id,targets,spans,target_sentiments,categories,category_sentiments
0,Judging from previous posts this used to be a ...,1004293:0,['place'],"[[51, 56]]",NaN,NaN,NaN
1,"We, there were four of us, arrived at noon - t...",1004293:1,['staff'],"[[75, 80]]",NaN,NaN,NaN
2,"They never brought us complimentary noodles, i...",1004293:2,[],[],NaN,NaN,NaN
3,The food was lousy - too sweet or too salty an...,1004293:3,"['food', 'portions']","[[4, 8], [52, 60]]",NaN,NaN,NaN
4,"After all that, they complained to me about th...",1004293:4,[],[],NaN,NaN,NaN

In [16]:
testData['targets_pred'] = testData['text'].map(lambda x: target_extraction_pipeline(x))

In [53]:
testData['targets'] = testData[testData['targets']!='nan']['targets'].map(lambda x: eval(x))

In [56]:
testData = testData[testData['targets']!='nan']

In [62]:
def targets_match(targets_actual, targets_pred):
    try:
        result =  all(elem in targets_pred  for elem in targets_actual)
    except:
        result = 'Error'
    return result

In [63]:
testData['match'] = testData[['targets','targets_pred']].apply(lambda x: targets_match(*x), axis=1)

In [64]:
testData['match'].value_counts()

True     1167
False     541
Error     292
Name: match, dtype: int64

In [65]:
print("Match percentage: ", 1167/len(testData))

Match percentage:  0.5835